<h1>Criar Produto</h1>
<form action="/products/create" method="post" class="form-control">
	<div class="form-control">
		<label for="name">Produto:</label>
		<input type="text" name="name" placeholder="Digite o nome do produto" />
	</div>
	<div class="form-control">
		<label for="image">Imagem do Produto:</label>
		<input type="text" name="image" placeholder="URL da imagem" />
	</div>
	<div class="form-control">
		<label for="price">Preço:</label>
		<input type="text" name="price" placeholder="Digite o preço do produto" />
	</div>
	<div class="form-control">
		<label for="description">Descrição:</label>
		<textarea name="description" placeholder="Digite o nome do produto"></textarea>
	</div>
	<input type="submit" class="btn" value="Cadastrar" />
</form>